<ul class="carousel">
    <li class="carousel__item">
        <div class="card">
            <div class="card__description">Donec facilisis tortor ut augue lacinia, at viverra est semper. </div>
            <div class="card__date"><span>05/12/2017</span></div>
        </div>
    </li>
    <li class="carousel__item visible-lg">
        <div class="card">
            <div class="card__description">Donec facilisis tortor ut augue lacinia, at viverra est semper. </div>
            <div class="card__date"><span>05/12/2017</span></div>
        </div>
    </li>
</ul>