<ul class="carousel">
    <li class="carousel__item">
        <div class="card">
            <div class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
            <div class="card__date">05/12/2017</div>
        </div>
    </li>
    <li class="carousel__item">
        <div class="card">
            <div class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
            <div class="card__date">05/12/2017</div>
        </div>
    </li>
    <li class="carousel__item carousel__item--no-spacer">
        <div class="card">
            <div class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
            <div class="card__date">05/12/2017</div>
        </div>
    </li>
</ul>