<header class="page-header">
    <div class="page-header__container">
        {{> icon-menu }} <h1 class="page-header__title">Heading</h1>
    </div> 
    
    <div class="page-header__container">
        <button class="btn btn--primary btn--right">Button</button>
        <button class="btn btn--secondary btn--right">Button</button>
        {{> icon-options }}
    </div>
</header>