<header class="page-header">
    <div class="page-header__container page-header__container--primary">
        {{> icon-menu }} <h1 class="page-header__title">Heading</h1>
    </div> 
    
    <div class="page-header__container page-header__container--secondary">
        <button class="btn btn--primary visible-lg">Button</button>
        <button class="btn btn--secondary btn--no-spacer visible-lg">Button</button>
        {{> icon-options }}
    </div>
</header>