
.menu {
    @include list-unstyled;
    margin-bottom: $spacer-40;

    &:last-child {
        margin-bottom: $spacer-0;
    }

    &__menu-item-container {
        margin-bottom: $spacer-16;
    }

    &__menu-item-container:last-child {
        margin-bottom: $spacer-0;
    }

    &__menu-item {
        width: 100%;
        display: inline-flex;
        align-self: center;
        padding-top: $spacer-8;
        padding-right: $spacer-8;
        padding-bottom: $spacer-8;
        padding-left: $spacer-16;
        
        border-radius: $border-radius;
        text-decoration: none;

        & #icon-swatch #Rectangle {
            fill: $gray-400;
        }
    }

    &__menu-item:hover,
    &__menu-item:active, {
        color: $font-color;
        background-color: $blue-100;
    }

    &__menu-item:visited {
        color: $font-color;
    }

    &__menu-item--active {
        background-color: $blue-100;

        & #icon-swatch #Rectangle {
            fill: $primary;
        }
    }

    &__menu-item--active:visited {
        color: $primary;
    }
}