@mixin list-unstyled {
    width: 100%;
    margin-top:     0;
    margin-right:   0;
    margin-bottom:  0;
    margin-left:    0;
    padding-left: 0;
    list-style-type: none;
}

@mixin icon {
    display: inline-flex;
    align-self: center;
    margin-right: $spacer-16;
}

@mixin no-margin {
    margin-top:   $spacer-0;
    margin-right: $spacer-0;
    margin-bottom: $spacer-0;
    margin-left: $spacer-0;
}