<nav>
    logo
    <ul>
        <li>Menu Item</li>
        <li>Menu Item</li>
    </ul>
    <ul>
        <li>Menu Item</li>
        <li>Menu Item</li>
        <li>Menu Item</li>
    </ul>
    <ul>
        <li>Menu Item</li>
    </ul>
</nav>