<div class="sidebar__body">
    <div class="logo">
        <a href="/"><img src="images/logo.svg" alt="LawConnect Logo" class="logo__image" /></a>
    </div>

    <ul class="menu">
        <li class="menu__menu-item-container">
            <a href="/" class="menu__menu-item menu__menu-item--active">
                {{> icon-swatch }}
                Menu Item
            </a>
        </li>
        <li class="menu__menu-item-container">
            <a href="/" class="menu__menu-item">
                {{> icon-swatch }}
                Menu Item
            </a>
        </li>
    </ul>
    <ul class="menu">
        <li class="menu__menu-item-container">
            <a href="/" class="menu__menu-item">
                {{> icon-swatch }}
                Menu Item
            </a>
        </li>
        <li class="menu__menu-item-container">
            <a href="/" class="menu__menu-item">
                {{> icon-swatch }}
                Menu Item
            </a>
        </li>
        <li class="menu__menu-item-container">
            <a href="/" class="menu__menu-item">
                {{> icon-swatch }}
                Menu Item
            </a>
        </li>
    </ul>
</div>

<div class="sidebar__footer">
    <ul class="menu menu--no-spacer">
        <li class="menu__menu-item-container">
            <a href="/" class="menu__menu-item">
                {{> icon-swatch }}
                Menu Item
            </a>
        </li>
    </ul>
</div>