<div class="sidebar__body">
    <div class="logo">
        <a href="/"><img src="images/logo.svg" alt="LawConnect Logo" class="logo__image" /></a>
    </div>

    <ul>
        <li>Menu Item</li>
        <li>Menu Item</li>
    </ul>
    <ul>
        <li>Menu Item</li>
        <li>Menu Item</li>
        <li>Menu Item</li>
    </ul>
</div>

<div class="sidebar__footer">
    <ul>
        <li>Menu Item</li>
    </ul>
</div>