---
layout:
title: Welcome!
---

<header>
    <h1>Heading</h1>
    <div>
        <button>Button</button>
        <button>Button</button>
    </div>
</header>

<section>
    <header>
        Section Header
    </header>
    <div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita tempora 
        perferendis rem autem minima doloremque et commodi cupiditate blanditiis sunt 
        vero ex at neque rerum consectetur, sint ea consequatur dolorem?</p>
    </div>
    <div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita tempora 
        perferendis rem autem minima doloremque et commodi cupiditate blanditiis sunt 
        vero ex at neque rerum consectetur, sint ea consequatur dolorem?</p>
    </div>
</section>

<section>
    <header>
        Section Header
    </header>
    <div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita tempora 
        perferendis rem autem minima doloremque et commodi cupiditate blanditiis sunt 
        vero ex at neque rerum consectetur, sint ea consequatur dolorem?</p>
    </div>
</section>