.app {
    display: flex;
    align-items: flex-start;
    height: $app-height;
    position: absolute;
    left: $app-position-menu-close;
    transition: left .2s ease-in-out;

    &--sidebar-open {
        left: 0;
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
        position: relative;
        left: 0px;
    }
}