.icon {
    display: inline-flex;
    align-self: center;
    margin-right: $spacer-16;
    // top: .1em;
    position: relative;
    height: 1.5em;
    width: 1.5em;
}

.icon--no-spacer {
    @include no-margin;
}

.icon--feature,
.icon--feature svg {
    flex: 0 0 32px;
    height: 2em;
    width: 2em;

    @media (min-width: map-get($grid-breakpoints, lg)) {
        flex: 0 0 48px;
        height: 3em;
        width: 3em;
    }
}

.icon--top {
    margin-top: $spacer-8;
    align-self: flex-start;
    
    @media (min-width: map-get($grid-breakpoints, lg)) {
        margin-top: $spacer-0;
    } 
}

.icon--visible-sm {
    display: inline-flex;

    @media (min-width: map-get($grid-breakpoints, lg)) {
        display: none !important;
    }
}

.icon--visible-lg {
    display: none;

    @media (min-width: map-get($grid-breakpoints, lg)) {
        display: inline-flex;
    }
}