.logo {
    width:              $logo-width;
    margin-bottom:      $spacer-48;
    text-align:         center;

    &__image {
        width:          $logo-width; 
        max-width:      $logo-max-width;
        height:         auto;
        margin-left:    auto;
        margin-right:   auto; 
    }
}