.mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: $spacer-24;
    padding-right: $spacer-24;
    padding-bottom: $spacer-24;
    padding-left: $spacer-24;
    background-color: rgba(0, 0, 0, 0.5);

    &--active {
        display: block;
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
        display: none;
    }
}