.page-header {
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__icon {
        @include icon;

        @media (min-width: map-get($grid-breakpoints, lg)) {
            display: none;
        }
    }

    &__title {
        display: inline-flex;
        align-self: center;
        line-height: 1;
    }
}