.section {
    padding-right: $spacer-16;
    padding-left: $spacer-16;
    
    &__header {
        padding-top: 17px;
        padding-bottom: 7px;
        border-bottom: 1px solid $border-color;
    }
    
    &__title {
        font-size:      $font-size-sm;
        line-height:    $line-height-base;
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
        padding-right: $spacer-24;
        padding-left: $spacer-24;
    }
}