.sidebar {
    width: $sidebar-width-sm;
    height: $sidebar-height;
    padding: $spacer-24;
    background-color: $body-bg-primary;
    position: fixed;
    left: -($sidebar-width-sm);
    transition: transform 0.2s linear;
    
    .show-sidebar & {
        transform: translateX($sidebar-width-sm);
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
        width: $sidebar-width-lg;
        left: 0;
    }
}